.without-border{
  border: 0 !important;
}
.select2-container{
  width: 100% !important;
}

/*@media only screen and (min-width: 993px){
  #toast-container{
    top: 10%;
    right: 50%;
  }
}*/

@media only screen and (min-width: 993px){
  .danger-toast{
    background-color: Salmon ;
    /*box-shadow: 0px 0px 20px #888888;*/
    border-radius: 25px;
    color: black;
  }

  .success-toast{
    background-color: LimeGreen;
    /*box-shadow: 0px 0px 20px #888888;*/
    border-radius: 25px;
    color: black;
  }
}
@media only screen and (max-width: 992px){
  #toast-container{
    /*position: inherit;*/
    min-width: 100%;
    left: 0px;
    bottom: 0px;
  }

  .toast{
    margin-top: 0px;
    min-width: 100%;
  }

  .danger-toast{
    background-color: Salmon;
    /*box-shadow: 0px 0px 20px #888888;*/
    color: black;
    /*width: 100%;*/
  }

  .success-toast{
    background-color: LimeGreen;
    /*box-shadow: 0px 0px 20px #888888;*/
    color: black;
    /*width: 100%;*/
  }
}
